Proyecto.json
[
    {
        "id": "c4d1f4d2b2b8d1c4",
        "type": "tab",
        "label": "Agitador MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fbb5c2a12f4a37f6",
        "type": "mqtt in",
        "z": "c4d1f4d2b2b8d1c4",
        "name": "Estado Agitador",
        "topic": "agitador/estado",
        "qos": "0",
        "datatype": "auto",
        "broker": "e6b4d8d5f6c8c9f1",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "f6c2c77cb84f5bfa"
            ]
        ]
    },
    {
        "id": "d1e5b6c5a77cba42",
        "type": "mqtt in",
        "z": "c4d1f4d2b2b8d1c4",
        "name": "PWM Agitador",
        "topic": "agitador/pwm",
        "qos": "0",
        "datatype": "auto",
        "broker": "e6b4d8d5f6c8c9f1",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "c2f6b3b8bfa2c9a8",
                "b3e7a8d1a1d9f2ef"
            ]
        ]
    },
    {
        "id": "c2f6b3b8bfa2c9a8",
        "type": "ui_chart",
        "z": "c4d1f4d2b2b8d1c4",
        "name": "Gráfica PWM",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Evolución PWM",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00baff"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 600,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b3e7a8d1a1d9f2ef",
        "type": "ui_gauge",
        "z": "c4d1f4d2b2b8d1c4",
        "name": "Medidor PWM",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "Nivel PWM",
        "label": "PWM",
        "format": "{{value}}",
        "min": 0,
        "max": 255,
        "colors": [
            "#00baff",
            "#87ceeb",
            "#004080"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "f6c2c77cb84f5bfa",
        "type": "ui_text",
        "z": "c4d1f4d2b2b8d1c4",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 3,
        "width": 6,
        "height": 2,
        "name": "Estado",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "d8a4f0b7f6d3e8a5",
        "type": "mqtt out",
        "z": "c4d1f4d2b2b8d1c4",
        "name": "Enviar Control",
        "topic": "agitador/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6b4d8d5f6c8c9f1",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "d1f7a7b2c9e8f1a6",
        "type": "ui_button",
        "z": "c4d1f4d2b2b8d1c4",
        "name": "Iniciar",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Iniciar",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#1f77b4",
        "className": "",
        "icon": "fa-play",
        "payload": "iniciar",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "d8a4f0b7f6d3e8a5"
            ]
        ]
    },
    {
        "id": "b8c1a6d3e7f9b2c4",
        "type": "ui_button",
        "z": "c4d1f4d2b2b8d1c4",
        "name": "Detener",
        "group": "a1b2c3d4e5f6a7b8",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Detener",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#d62728",
        "className": "",
        "icon": "fa-stop",
        "payload": "detener",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "d8a4f0b7f6d3e8a5"
            ]
        ]
    },
    {
        "id": "e6b4d8d5f6c8c9f1",
        "type": "mqtt-broker",
        "name": "Broker Local",
        "broker": "10.225.129.190",
        "port": "1883",
        "clientid": "NodeRED_Client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willPayload": ""
    },
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "ui_group",
        "name": "Control Agitador",
        "tab": "b7c8d9e0f1a2b3c4",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b7c8d9e0f1a2b3c4",
        "type": "ui_tab",
        "name": "Agitador PWM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1242af2afe8430b6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]